@media screen and (min-width: 1024px){
    header{
        top: 3%;
    }

    .flex-header{
        width: 78%;
    }

    .flex-header > img{
        width: 190px;
    }

    .login{
        gap: 7%;
        width: 270px;
    }

    select{
        width: 140px;
    }

    .pagina-de-acesso{
        display: flex;
    }

    .login-container{
        height: 220px;
        width: 80vw;
        margin: auto;
        padding-top: 0;
    }

    .login-container > h1{
        font-size: 50px;
    }

    .login-container p{
        font-size: 22px;
    }

    .p-email{
        width: 100%;
    }

    .form{
        height: 52px;
        flex-direction: row;
        justify-content: center;
        gap: 2%;
        align-items: flex-start;
        width: 100%;
        margin-top: 20px;
    }

    #input-email{
        width: 433px;
        height: 55px;
    }

    .form button{
        width: 170px;
        height: 55px;
    }

    .informativos{
        padding: 4.5rem 0; 
    }

    .info-container{
        margin: auto;
        flex-direction: row;
        width: calc(83% - 3.5rem);
        /*Nem sempre há a necessidade de uso de display flex
          por exemplo em casos onde há apenas um item no
          container, o margin auto já resolve a centralização*/
    }

    .flex-reverse{
        flex-direction: row-reverse;
    }

    .flex-reverse .foto-video{
        padding-right: 1rem;
    }

    .paragrafo-container{
       width: 100%;
       padding-right: 1rem;
       text-align: left;
    }

    .paragrafo-container h2{
        font-size: 43px;
        font-weight: 800;
    }
    
    .paragrafo-container p{
        margin-top: 0.10rem;
        font-size: 1.54rem;
        text-align: left;
    }

    .slide-container{
        position: relative;
        width: 100%;
    }

    .fundo-slide{
        width: 100%;
    }
    
    .video{
        overflow: hidden; /*Overflow hidden no container é essencial*/
        top: 19%;
        left: 13.2%;
        width: 24rem;
        max-width: none;
        max-height: 14rem; /*Muito importante o uso de max-height 
        quando se quer travar o tamanho na tela*/
        z-index: -1;
    }

    .video-strangers{
        top: 10%;
        left: 18%;
        max-width: 60%;
        max-height: 50%;
        background-color: #898a8a;
    }

    .info-criancas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .info-criancas h2{
        text-align: left;
        width: 100%;
    }
    
    .info-criancas p{
        width: 100%;
    }

    .container-bloco-cel{
        position: absolute;
        top: 67%;
        left: 21%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0.5rem 0.75rem;
        width: 55%;
        max-width: 85%;
        margin: auto;
        border: 2px solid #898a8a;
        background-color: black;
        border-radius: 10px;
    }

    .capa-strangers{
        margin: 0 1rem 0 0;
    }
    
    .capa-strangers img{
        height: 5rem;
    }

    .paragrafo{
        width: 60%;
        padding-left: 0.7rem;
        color: white;
    }

    .paragrafo h2{
        font-size: 1rem;
        width: 100%;
    }

    .paragrafo p{
        padding-top: 0.1rem;
        font-size: 0.9rem;
        width: 75%;
        color: rgb(64, 147, 224);
    }

    .download{
        height: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        justify-content: center;
        padding:12px 0;
    }

    .download img{
        height: 3rem;
        max-width: 100%;
    }

    .formEnd-container{
        display: flex;
        flex-direction: column;
        color: white;
        height: 50%;
    }
}
